# top-most EditorConfig file
root = true

# utf8 enconding, unix-style newlines, newline ending every file
[*]
charset = "utf-8"
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# js and ts indented with tabs
[*.{ts,js}]
indent_style = tab

[*.{json}]
indent_style = space
indent_size = 2
